/* margin padding */
$margin0: 0;
$padding0: 0;

/* font */
$font: Arial, sans-serif;

/*align-text*/
$text-start: start;
$text-center: center;
$text-end: end;

/*pallets of color */
$one-color: #E0E0E2;
$two-color: #81D2C7;
$three-color: #B5BAD0;
$four-color: #7389AE;
$five-color: #416788;

/* size of image*/
$image-vh: 1vh;
$image-vw: 1vw;

/* flex*/
$dp-flex: flex;
$dp-block: block;
$dp-grid: grid;
$dp-inbl: inline-block;


/*px size */
$pixels10: 10px;
$pixels20: 20px;
$pixels30: 30px;
$pixels40: 40px;
